* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.i-container {
    max-width: 1280px;
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

body {
    background-color: #FFEAC4;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover {
    background-color: #ffb375;
    transition: background-color 0.5s;
}

.index-header {
    border-bottom: solid black 1px;
    background-color: #FFEAC4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.index-logo {
    height: 200px;
    min-width: 250px;
}

.index-routes {
    display: flex;
    gap: 1em;
}

.i-route {
    font-size: 16px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F68121;
    width: 90px;
    text-align: center;
    border: solid #F68121 1px;
    border-radius: 30px;
    cursor: pointer;
}

.i-tutvustus {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-faktid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 30px;
    padding-top: 4em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.i-paragraph {
    width: 65ch;
}

p {
    font-size: 18px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.i-item {
    font-size: 18px;
    list-style-type: circle;
    width: 65ch;
    padding: 3px;
}

.menu__item{
    display: none;
}

#menu__toggle{
    display: none;
}

@media(max-width: 600px) {

    .index-routes {
        flex-direction: column;
    }
    .i-paragraph {
        width: 60%;
        text-align: left;
    }

    .i-item {
        width: 400px;
    }
    button{
        display: none;
    }

    #menu__toggle {
        opacity: 0;
    }

    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }

    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #menu__toggle:checked ~ .menu__box {
        right: 0 !important;
    }

    .menu__btn {
        position: fixed;
        top: 20px;
        right: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }
    
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
    }
      
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
      
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
      
    .menu__box {
        display: block;
        position: fixed;
        top: -40px;
        right: -100%;
        width: 300px;
        height: 31%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #FFEAC4;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
        z-index: 5;
    }
      
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
      
    .menu__item:hover {
        background-color: ORANGE;
    }
}