*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.maps-header img{
    width: 250px;
    height: 200px;
}
.maps-header{
    height: 200px;
    width: 100%;
    border-bottom: solid 1px black;
}
.head-button{
    text-decoration: none;
    width: 50px;
    color: black;
}
.head-button1{
    position: absolute;
    right: 200px;
    top: 100px;
}
.head-button2{
    position: absolute;
    right: 120px;
    top: 100px;
}
.head-button3{
    position: absolute;
    right: 40px;
    top: 100px;
}
.head-button:hover{
    border-bottom: solid 1px black;
}
#map{
    height: 400px;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}
.mapp{
    display: flex;
    justify-content: center;
}